body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.game {
  display: inline-block;
}

p{
  display: inline-block;
}

.error{
  color: #9F0000;
}

div{
 text-align: center;
}

.exam{
 padding: 2px;
 margin: 5px;
}

.header{
  text-align:center;
}

#addRow{
  margin-bottom: 1%;
}

#calculation{
  font-weight:bold;
}
/* input{ */
/*   margin: 2px; */
/*   margin-left: 5px; */
/*   margin-right: 5px; */
/* } */
